

.mock{
  
    width: 600px;
    height: 100%;
    border: 2px solid #eee;
    margin-left: 400px;
}

.head{
   margin: 20px 25px 0px 25px;
    width: 550px;
    height: 80px;
    background-color: blueviolet;
    border: 1px solid blueviolet;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
    border-radius: 5px;
    
}
.head h1{
    margin-left: 180px;
    color: #eee;
    margin-top: 10px;
    font-weight: 600;
}

.content{
    width: 550px;
    height: 100%;
    border: 1px solid #eee;
     margin: 0px 25px;
     margin-bottom: 20px;
}

.header{
    margin: 0px 28px;
    width: 500px;
    height: 80px;
    border: 1px solid  #d9d6d6;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transform: translateY(-30px);
    
    
}
.header input{
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
   
}

.header button{
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    color: #fff;
    padding: 0px 28px;
}
.details{
    margin: 0px 28px;
    width: 500px;
    height: 100%;
    border: 1px solid  #d9d6d6;
    /* background-color: #d9d6d6; */
    border-radius: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}


.detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 5px;
    font-size: 16px;
}

.detail button{
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    color: #fff;
}

.btn1{
    margin-left: 220px;
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    color: #fff;
    padding: 2px 5px;
    margin-bottom: 5px;
}
